<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./layout/layout-head.ejs %>
</head>

<body>
<h1 class="text-center">홈화면</h1>

<div class="container border shadow-box mx-auto my-5 p-5 pb-0" style="width: 700px;">
    <h4 class="mb-4">계정정보</h4>

    <table class="table table-bordered">
        <tr>
            <th>아이디</th>
            <td id="id"><%= id %></td>
        </tr>
        <tr id="tr_password">
            <th class="align-middle">비밀번호</th>
            <td class="d-flex border-0"><button type="button" class="btn btn-sm btn-secondary rounded-0" onclick="changeInput();">비밀번호 변경</button></td>
        </tr>
        <tr>
            <th>이름</th>
            <td><%= name %></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td><%= email %></td>
        </tr>
    </table>
    <div class="button-container text-center mt-4">
        <% if (grade == 9) { %>
        <button type="button" id="btnShowList" class="btn btn-secondary rounded-0" onclick="showMemberList();">유저목록보기</button>
        <button type="button" id="btnHideList" class="btn btn-secondary rounded-0 d-none" onclick="hideMemberList();">유저목록숨기기</button>
        <% } %>
        <button type="button" id="btnShowBoard" class="btn btn-secondary rounded-0 ml-2" onclick="ShowBoard();">게시판 보기</button>
        <button type="button" class="btn btn-secondary rounded-0 ml-2" onclick="location.href='/logout'">로그아웃</button>
    </div>
</div>

<% include ./modal/write-modal.ejs %>

<% include ./layout/layout-script.ejs %>
<script src="/javascripts/home.js"></script>
<script>
</script>
</body>
</html>

