body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #6d6d6d;
}

a {
  color: #00B7FF;
}

label {
  line-height: 2;
  font-size: 18px;
}

.shadow-box {
  box-shadow: -4px 3px 42px -6px rgba(128,128,128,0.81);
}

h1 {
    font-weight: 600;
}