<div class="modal" id="board_detail_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content px-3 py-2">
      <div class="modal-header border-0">
        <h5 class="modal-title">게시글</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form action="/rest/update_board" method="post" name="updateForm" autocomplete="off"
              onsubmit="return submitUpdatePost(this);">
          <table class="table table-bordered text-left" id="detail_table">
            <input type="hidden" name="id" id="id">
            <input type="hidden" name="idx" id="idx">
            <tbody>
            <tr>
              <th class="pl-4 w-25">작성자</th>
              <td class="p-3" id="userid">
              </td>
            </tr>
            <tr>
              <th class="pl-4">작성일</th>
              <td class="p-3" id="date"></td>
            </tr>
            <tr class="p-3">
              <th class="pl-4">제목</th>
              <td class="p-3" id="title"></td>
            </tr>
            <tr>
              <th class="pl-4">내용</th>
              <td class="p-3" id="content"></td>
            </tr>
            <tr>
              <th class="pl-4">첨부파일</th>
              <td class="p-3" id="file"></td>
            </tr>
            </tbody>
          </table>
          <div class="button-container text-center mb-5">
            <!--            <button type="button" class="btn btn-secondary rounded-0 px-4" id="btnComment" onclick="writeComment(this);">댓글</button>-->
            <button type="button" class="btn btn-secondary rounded-0 px-4" id="btnModify" onclick="modifyPost(this);">
              수정
            </button>
            <button type="button" class="btn btn-danger rounded-0 px-4" id="btnRemove"
                    onclick="confirmRemovePost(ths);">삭제
            </button>
            <button type="submit" class="btn btn-secondary rounded-0 px-4 d-none" id="btnUpdate">확인</button>
            <button type="button" class="btn btn-secondary rounded-0 px-4 ml-1" data-dismiss="modal">취소</button>
          </div>
        </form>

        <div class="modal-footer border-0 p-0 text-center justify-content-center">
          <h6 class="text-left w-100 mb-2">댓글목록</h6>
          <form action="/rest/write_comment" method="post" name="writeCommentForm"
                onsubmit="return writeComment(this);">
            <input type="hidden" name="user_id" value="<% id %>">
            <input type="hidden" name="post_idx">
            <table class="table table-bordered text-left m-0" id="detail_comment_table">
              <tr>
                <th width="150"><%= id %></th>
                <td>
                  <input type="text" id="comment" class="form-control rounded-0">
                </td>
                <td width="80" class="p-0 text-center">
                  <button type="submit" class="btn btn-sm btn-secondary rounded-0">댓글등록</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
