<div class="modal" id="board_modify_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content px-3 py-2">
      <div class="modal-header border-0">
        <h5 class="modal-title">글쓰기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form action="/rest/modify_board" method="post" name="modifyForm" autocomplete="off" onsubmit="return submitBoardForm();">
          <table class="table table-bordered text-center" id="modify_table">
            <tbody>
            <tr>
              <td>작성자</td>
              <td class="p-3 text-left"><%= id %>
                <input type="hidden" name="id" value="<%= id %>">
              </td>
            </tr>
            <tr class="p-3">
              <td>제목</td>
              <td><input type="text" name="title" id="title" class="form-control rounded-0"></td>
            </tr>
            <tr>
              <td>내용</td>
              <td class="p-3"><textarea name="content" id="content" class="form-control rounded-0" cols="30" rows="10"></textarea></td>
            </tr>
            </tbody>
          </table>
          <div class="modal-footer border-0 text-center justify-content-center">
            <button type="submit" class="btn btn-secondary rounded-0 px-4">작성</button>
            <button type="button" class="btn btn-secondary rounded-0 px-4 ml-1" data-dismiss="modal">취소</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
