<div class="modal" id="board_write_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content px-3 py-2">
      <div class="modal-header border-0">
        <h5 class="modal-title">글쓰기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form action="/rest/write_board" method="post" name="writeForm" autocomplete="off" enctype="multipart/form-data" onsubmit="return submitBoardForm()" >
          <table class="table table-bordered text-center" id="write_table">
            <tbody>
            <tr>
              <td>작성자</td>
              <td class="p-3 text-left"><%= id %>
                <input type="hidden" name="id" value="<%= id %>">
              </td>
            </tr>
            <tr>
              <td>제목</td>
              <td class="p-3">
                <input type="text" name="title" id="title" class="form-control rounded-0">
              </td>
            </tr>
            <tr>
              <td>내용</td>
              <td class="p-3"><textarea name="content" id="content" class="form-control rounded-0" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
              <td>파일</td>
              <td class="p-3"><input type="file" name="upfile" id="upfile" class="form-control-file rounded-0">
                <small class="d-block text-left mt-2">1MB 이상 파일은 1MB씩 분할되어 저장됩니다.</small>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="modal-footer border-0 text-center justify-content-center">
            <button type="submit" class="btn btn-secondary rounded-0 px-4">작성</button>
            <button type="button" class="btn btn-secondary rounded-0 px-4 ml-1" data-dismiss="modal">취소</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
